name: Build Examples Website
on: [push]
jobs:
  build-demo:
    name: Build Examples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false
      - name: Setup App
        run: sh setup.sh
      - name: Build Next App
        run: pnpm demo:build
